datadir : '/Path/to/your/datadirs/hermez-testnet'
chain : "hermez-mainnet"
http : true
private.api.addr : "localhost:9091"
zkevm.centralized-sequencer-rpc: "https://rpc.public.zkevm-test.net/"
externalcl: true
http.api : ["eth","debug","net","trace","web3","erigon"]